<div class="d-flex">
  <input clrInput
         type="text"
         placeholder="search"
         style="width: 300px;
         margin-left: 75px;"
         [(ngModel)]="gridFilter" />
  <button class="btn btn-primary grid-header-button ml-auto"
          (click)="onAddModal()">Add</button>
</div>
<app-crafts-grid-display [crafts]="crafts"
                         (selectedCraft)="onCraftSelected($event)"
                         [gridFilter]="gridFilter"></app-crafts-grid-display>

<clr-modal [(clrModalOpen)]="detailModal"
           [clrModalSize]="'lg'"
           [clrModalClosable]="false"
           *ngIf="!!selectedCraft">
  <h3 class="modal-title">{{selectedCraft.name}}</h3>
  <div class="modal-body text-center">
    <form clrForm
          clrLayout="horizontal"
          [formGroup]="EditForm">
      <clr-input-container>
        <label>Name</label>
        <input clrInput
               type="text"
               formControlName="name"
               required />
      </clr-input-container>

      <ng-select placeholder="Type"
                 formControlName="type"
                 class="custom">
        <ng-option *ngFor="let type of types"
                   [value]="type">{{type}}</ng-option>
      </ng-select>

      <ng-select placeholder="Class"
                 formControlName="class"
                 class="custom">
        <ng-option *ngFor="let class of classes"
                   [value]="class">{{class}}</ng-option>
      </ng-select>

      <ng-select placeholder="Ingredients"
                 [ngModel]="selectedRecipe"
                 [ngModelOptions]="{standalone: true}"
                 [multiple]="true"
                 class="custom">
        <ng-option *ngFor="let recipe of SimpleRecipeList"
                   [value]="recipe">{{recipe.resourceName}}</ng-option>
      </ng-select>

      <div formArrayName="recipe"
           class="recipe-box">
        <div *ngFor="let ing of EditFormRecipe.controls; let i=index">
          <div [formGroupName]="i"
               class="row">
            <label class="col-7">{{ ing.value.resourceName }}</label>
            <input type="number"
                   class="form-control col-4"
                   formControlName="amount"
                   required />
          </div>
        </div>
      </div>

    </form>
  </div>
  <div class="modal-footer">
    <button type="button"
            class="btn btn-outline"
            (click)="closeModal()">Cancel</button>
    <button type="button"
            class="btn btn-primary"
            [clrLoading]="editBtnState"
            [disabled]="!editFormValid()"
            (click)="onEdit()">Edit</button>
    <button type="button"
            class="btn btn-danger"
            [clrLoading]="deleteBtnState"
            (click)="onDelete()">Delete</button>
  </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="addModal"
           [clrModalSize]="'lg'"
           [clrModalClosable]="false">
  <h3 class="modal-title">New Resource</h3>
  <div class="modal-body text-center">
    <form clrForm
          clrLayout="horizontal"
          [formGroup]="AddForm">
      <clr-input-container>
        <label>Name</label>
        <input clrInput
               type="text"
               formControlName="name"
               required />
      </clr-input-container>

      <ng-select placeholder="Type"
                 formControlName="type"
                 class="custom">
        <ng-option *ngFor="let type of types"
                   [value]="type">{{type}}</ng-option>
      </ng-select>

      <ng-select placeholder="Class"
                 formControlName="class"
                 class="custom">
        <ng-option *ngFor="let class of classes"
                   [value]="class">{{class}}</ng-option>
      </ng-select>

      <ng-select placeholder="Ingredients"
                 [bindLabel]="'resourceName'"
                 [multiple]="true"
                 (change)="onRecipeListChange($event)"
                 (add)="onAddFormRecipeAdd($event)"
                 (remove)="onAddFormRecipeRemove($event)"
                 (clear)="onAddFormRecipeClear()"
                 class="custom">
        <ng-option *ngFor="let recipe of SimpleRecipeList"
                   [value]="recipe">{{recipe.resourceName}}</ng-option>
      </ng-select>

      <div formArrayName="recipe"
           class="recipe-box">
        <div *ngFor="let ing of addFormRecipe.controls; let i=index">
          <div [formGroupName]="i"
               class="row">
            <label class="col-7">{{ ing.value.resourceName }}</label>
            <input type="number"
                   class="form-control col-4"
                   formControlName="amount"
                   required />
          </div>
        </div>
      </div>

    </form>
  </div>
  <div class="modal-footer">
    <button type="button"
            class="btn btn-outline"
            (click)="closeModal()">Cancel</button>
    <button type="button"
            class="btn btn-primary"
            [clrLoading]="addBtnState"
            [disabled]="!addFormValid()"
            (click)="onAdd()">Save</button>
  </div>
</clr-modal>
