<div class="d-flex">
  <input clrInput
         type="text"
         placeholder="search"
         style="width: 300px;
         margin-left: 75px;"
         [(ngModel)]="gridFilter" />
  <button class="btn btn-primary grid-header-button ml-auto"
          (click)="onAddModal()">Add</button>
</div>
<app-cuisines-grid-display [cuisines]="cuisines"
                           [gridFilter]="gridFilter"
                           (selectedCuisine)="onCuisineSelected($event)"></app-cuisines-grid-display>

<clr-modal [(clrModalOpen)]="detailModal"
           [clrModalSize]="'lg'"
           [clrModalClosable]="false"
           *ngIf="!!selectedCuisine">
  <h3 class="modal-title">{{selectedCuisine.name}}</h3>
  <div class="modal-body text-center">
    <form clrForm
          clrLayout="horizontal"
          [formGroup]="EditForm">
      <clr-input-container>
        <label>Name</label>
        <input clrInput
               type="text"
               formControlName="name"
               required />
      </clr-input-container>
      <clr-checkbox-container>
        <clr-checkbox-wrapper>
          <input type="checkbox"
                 clrCheckbox
                 value="option1"
                 name="options" />
          <label>Option 1</label>
        </clr-checkbox-wrapper>
        <clr-checkbox-wrapper>
          <input type="checkbox"
                 clrCheckbox
                 value="option2"
                 name="options" />
          <label>Option 2</label>
        </clr-checkbox-wrapper>
      </clr-checkbox-container>
      <ng-select placeholder="Size"
                 class="custom">
        <ng-option *ngFor="let size of sizes"
                   [value]="size">{{size}}</ng-option>
      </ng-select>

      <ng-select placeholder="Category"
                 class="custom">
        <ng-option *ngFor="let category of categories"
                   [value]="category">{{category}}</ng-option>
      </ng-select>

      <ng-select placeholder="Ingredients"
                 [ngModel]="selectedRecipe"
                 [ngModelOptions]="{standalone: true}"
                 [multiple]="true"
                 class="custom">
        <ng-option *ngFor="let recipe of SimpleRecipeList"
                   [value]="recipe">{{recipe.resourceName}}</ng-option>
      </ng-select>

      <div formArrayName="recipe"
           class="recipe-box">
        <div *ngFor="let ing of EditFormRecipe.controls; let i=index">
          <div [formGroupName]="i"
               class="row">
            <label class="col-7">{{ ing.value.resourceName }}</label>
            <input type="number"
                   class="form-control col-4"
                   formControlName="amount"
                   required />
          </div>
        </div>
      </div>

    </form>
  </div>
  <div class="modal-footer">
    <button type="button"
            class="btn btn-outline"
            (click)="closeModal()">Cancel</button>
    <button type="button"
            class="btn btn-primary"
            [clrLoading]="editBtnState"
            [disabled]="!editFormValid()"
            (click)="onEdit()">Edit</button>
    <button type="button"
            class="btn btn-danger"
            [clrLoading]="deleteBtnState"
            (click)="onDelete()">Delete</button>
  </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="addModal"
           [clrModalSize]="'lg'"
           [clrModalClosable]="false">
  <h3 class="modal-title">New Resource</h3>
  <div class="modal-body text-center">
    <form clrForm
          clrLayout="horizontal"
          [formGroup]="AddForm">
      <clr-input-container>
        <label>Name</label>
        <input clrInput
               type="text"
               formControlName="name"
               required />
      </clr-input-container>


      <clr-radio-container>
        <label>Buff class identifier</label>
        <clr-radio-wrapper>
          <input type="radio"
                 clrRadio
                 name="options"
                 required
                 value="size"
                 [(ngModel)]="addbuffState"
                 [ngModelOptions]="{standalone: true}" />
          <label>Size</label>
        </clr-radio-wrapper>
        <clr-radio-wrapper>
          <input type="radio"
                 clrRadio
                 name="options"
                 required
                 value="category"
                 [(ngModel)]="addbuffState"
                 [ngModelOptions]="{standalone: true}" />
          <label>Category</label>
        </clr-radio-wrapper>
        <clr-control-error>This field is required!</clr-control-error>
      </clr-radio-container>
      <div class="row"
           *ngIf="addbuffState === 'size'">
        <ng-select placeholder="Size"
                   formControlName="size"
                   class="custom col-6">
          <ng-option *ngFor="let size of sizes"
                     [value]="size">{{size}}</ng-option>
        </ng-select>
        <input type="number"
               formControlName="sizeValue"
               class="form-control col-6">
      </div>
      <div class="row"
           *ngIf="addbuffState === 'category'">
        <ng-select placeholder="Category"
                   class="custom col-6"
                   formControlName="category">
          <ng-option *ngFor="let category of categories"
                     [value]="category">{{category}}</ng-option>
        </ng-select>
        <input type="number"
               formControlName="categoryValue"
               class="form-control col-6">
      </div>
      <div class="row">
        <label class="col-6">Collect Rate</label>
        <input type="number"
               formControlName="collectRate"
               class="form-control col-6">
      </div>
      <div class="row">
        <label class="col-6">Collect Rate</label>
        <input type="number"
               formControlName="fishingRate"
               class="form-control col-6">
      </div>
      <ng-select placeholder="Ingredients"
                 [bindLabel]="'resourceName'"
                 [multiple]="true"
                 (change)="onRecipeListChange($event)"
                 (add)="onAddFormRecipeAdd($event)"
                 (remove)="onAddFormRecipeRemove($event)"
                 (clear)="onAddFormRecipeClear()"
                 class="custom">
        <ng-option *ngFor="let recipe of SimpleRecipeList"
                   [value]="recipe">{{recipe.resourceName}}</ng-option>
      </ng-select>

      <div formArrayName="recipe"
           class="recipe-box">
        <div *ngFor="let ing of addFormRecipe.controls; let i=index">
          <div [formGroupName]="i"
               class="row">
            <label class="col-7">{{ ing.value.resourceName }}</label>
            <input type="number"
                   class="form-control col-4"
                   formControlName="amount"
                   required />
          </div>
        </div>
      </div>

    </form>
  </div>
  <div class="modal-footer">
    <button type="button"
            class="btn btn-outline"
            (click)="closeModal()">Cancel</button>
    <button type="button"
            class="btn btn-primary"
            [clrLoading]="addBtnState"
            [disabled]="!addFormValid()"
            (click)="onAdd()">Save</button>
  </div>
</clr-modal>
