<div class="main-container container m-0 p-0">
  <header class="header-7">
    <div class="branding">
      <a (click)="onClick('')"
         class="nav-link">
        <span>My Page</span>
      </a>
    </div>
    <div class="header-nav">
      <clr-dropdown>
        <button class="nav-icon"
                clrDropdownTrigger
                aria-label="toggle settings menu">
          <span class="header-nav-text">PSO2</span>
        </button>
        <clr-dropdown-menu *clrIfOpen
                           clrPosition="bottom-right">
          <a (click)="onClick('/crafts')"
             clrDropdownItem>Crafts</a>
          <a (click)="onClick('/resources')"
             clrDropdownItem>Resources</a>
          <a (click)="onClick('/cuisines')"
             clrDropdownItem>Cuisines</a>
        </clr-dropdown-menu>
      </clr-dropdown>
    </div>
  </header>
  <router-outlet></router-outlet>
</div>
