<div class="champion-stats-details bg-white"
     *ngIf="!!champion">
  <h1>{{champion?.id}}</h1>
  <div>
    HP: {{champion?.stats.hp}} + {{champion?.stats.hpperlevel}} per level
  </div>
  <div>
    HP regen: {{champion?.stats.hpregen}} + {{champion?.stats.hpregenperlevel}} per level
  </div>
  <div>
    MP: {{champion?.stats.mp}} + {{champion?.stats.mpperlevel}} per level
  </div>
  <div>
    MP regen: {{champion?.stats.mpregen}} + {{champion?.stats.mpregenperlevel}} per level
  </div>
  <div>
    Attack Damage: {{champion?.stats.attackdamage}} + {{champion?.stats.attackdamageperlevel}} per level
  </div>
  <div>
    Attack range: {{champion?.stats.attackrange}}
  </div>
  <div>
    Attack speed: {{champion?.stats.attackspeed}} + {{champion?.stats.attackspeedperlevel}} per level
  </div>
  <div>
    Magic Resist: {{champion?.stats.spellblock}} + {{champion?.stats.spellblockperlevel}} per level
  </div>
  <div>
    Tags: <span *ngFor="let tag of champion.tags">{{tag}} </span>
  </div>
  <div>
    Spells: 
    <span *ngFor="let spell of champion.spells">[{{spell.name}}]</span>
  </div>
</div>