<div class="d-flex flex-row">
  <div class="d-flex flex-column">
    <div *ngFor="let champion of state.context.champions"
         (click)="onSelectChampion(champion)">
      {{!champion.id ? '' : champion.id }}
    </div>
  </div>
  <div class="d-flex flex-column"
       *ngIf="!!state.context.selectedChampion">
    <h3>Items</h3>
    <div *ngFor="let item of state.context.items"
         (click)="onSelectItem(item)">
      {{!item.name ? '' : item.name}}
    </div>
  </div>
  <div class="d-flex flex-column"
       *ngIf="!!state.context.selectedChampion">
    <h3>Runes</h3>
    <div *ngFor="let rune of state.context.runes">
      {{!rune.name ? '' : rune.name}}
    </div>
  </div>
  <div *ngIf="!!state.context.selectedChampion">
    <h2>{{state.context.selectedChampion.name}}</h2>
    <div *ngFor="let item of state.context.selectedChampion.items">
      {{!item.name ? '' : item.name}}
    </div>
  </div>
  <div class="ml-auto">
    Current State {{state.value}}
  </div>
</div>