<div class="d-flex">
       <div class="test-div1 m-0 p-0"></div>
       <div class="test-div2 m-0 p-3">
              <div class="input-group">
                     <input class="form-control"
                            placeholder="Search query"
                            [ngModel]="query"
                            (ngModelChange)="queryChange($event)">
                     <div class="input-group-append">
                            <button class="btn btn-primary query-btn" (click)="onSearch()">Hit me up!</button>
                     </div>
              </div>

       </div>
</div>
