/* You can add global styles to this file, and also import other style files */
@import "node_modules/ag-grid-community/src/styles/ag-grid.scss";
@import "node_modules/ag-grid-community/src/styles/ag-theme-alpine/sass/ag-theme-alpine-mixin.scss";
@import "node_modules/ag-grid-community/src/styles/ag-theme-material/sass/ag-theme-material-mixin.scss";
@import "node_modules/ag-grid-community/src/styles/ag-theme-balham/sass/ag-theme-balham-mixin.scss";

.ag-theme-alpine {
  @include ag-theme-alpine();
}

.ag-theme-material {
  @include ag-theme-material();
}

.ag-theme-balham {
  @include ag-theme-balham();
}

.champion-stats {
  display: flex;
  flex-direction: row;
  .selector {
    display: flex;
    flex-direction: row;
    width: 526px;
    .select-min {
      width: 100px;
      height: 100vh;
      &-testw {
        width: 321px;
      }
    }

    .champion-select {
      max-height: 100vh;
      overflow-y: auto;
      overflow-x: hidden;
      width: 321px;
      min-width: 321px;
      .champion-select-icon {
        width: 80px;
        height: 80px;
        filter: brightness(50%);
        &:hover {
          filter: none;
        }
      }
    }
    .item-select {
      max-height: 100vh;
      overflow-y: auto;
      width: 321px;
      min-width: 321px;
      .item-select-icon {
        height: 80px;
        width: 80px;
        filter: brightness(50%);
        &:hover {
          filter: none;
        }
      }
    }
    .rune-select {
      overflow-y: auto;
      display: flex;
      flex-direction: column;
      height: 100vh;
      width: 321px;
      max-width: 321px;
      min-width: 321px;
      &-grid {
        display: flex;
        flex-direction: column;
        width: 100%;
        .rune-page-selector {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          align-items: center;
          justify-content: center;
          &-item {
            img {
              height: 40px;
              width: 40px;
              filter: brightness(60%);
              &:hover {
                filter: brightness(120%);
              }
            }
            margin: 0.5rem;
          }
        }
        .rune-selector-major {
          display: flex;
          align-content: center;
          justify-content: center;
        }
        .rune-selector-row {
          display: flex;
          align-content: center;
          justify-content: center;
          margin: 1rem 0 1rem 0;
        }
      }
      .major-rune-icon {
        height: 100px;
        width: 100px;
        filter: brightness(60%);
        &:hover {
          filter: brightness(120%);
        }
      }
      .minor-rune-icon {
        height: 50px;
        width: 50px;
        margin: 0 1rem 0 1rem;
        filter: brightness(60%);
        &:hover {
          filter: brightness(120%);
        }
      }
      .selected {
        filter: brightness(120%);
      }
    }
  }
  .champion-details {
    width: 100%;
    max-height: 100vh;
    .champion-stats-details {
      display: absolute;
      height: 400px;
      width: 500px;
    }
  }

  .state-panel {
    display: sticky;
  }
}

html body {
  min-height: 100vh;
  height: auto;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 3px;
  height: 5px;
}

.bg-fill {
  background-size: cover !important;
  background-repeat: no-repeat !important;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 5px;
}
