/* You can add global styles to this file, and also import other style files */
@import "node_modules/ag-grid-community/src/styles/ag-grid.scss";
@import "node_modules/ag-grid-community/src/styles/ag-theme-alpine/sass/ag-theme-alpine-mixin.scss";
@import "node_modules/ag-grid-community/src/styles/ag-theme-material/sass/ag-theme-material-mixin.scss";
@import "node_modules/ag-grid-community/src/styles/ag-theme-balham/sass/ag-theme-balham-mixin.scss";

.ag-theme-alpine {
  @include ag-theme-alpine();
}

.ag-theme-material {
  @include ag-theme-material();
}

.ag-theme-balham {
  @include ag-theme-balham();
}

.champion-stats {
  display: flex;
  flex-direction: row;
  .champion-select {
    // height: 100vh;
    max-height: 100vh;
    overflow-y: auto;
    width: 244px;
    .champion-select-icon {
      width: 80px;
      height: 80px;
      filter: brightness(50%);
      &:hover {
        filter: none;
      }
    }
  }
  .item-select {
    max-height: 100vh;
    overflow-y: auto;
    width: 244px;
    .item-select-icon {
      height: 80px;
      width: 80px;
      filter: brightness(50%);
      &:hover {
        filter: none;
      }
    }
  }
  .rune-select {
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    .major-rune-icon {
      height: 100px;
      width: 100px;
    }
    .minor-rune-icon {
      height: 64px;
      width: 64px;
    }
  }
  .champion-details {
    display: flex;
    max-height: 100vh;
    margin-left: 0.2rem;
  }

  .state-panel {
    display: sticky;
  }
}

html body {
  min-height: 100vh;
  height: auto;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 4px;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 5px;
}
