<header class="header-7">
  <div class="branding">
    <a (click)="onClick('')"
       class="nav-link">
      <span class="title">PSO2Db</span>
    </a>
  </div>
  <div class="header-nav">
    <a (click)="onClick('')"
       class="nav-link nav-text">Main</a>
    <a (click)="onClick('/crafts')"
       class="nav-link nav-text">Crafts</a>
    <a (click)="onClick('/resources')"
       class="nav-link nav-text">Resources</a>
    <a (click)="onClick('/cuisines')"
       class="nav-link nav-text">Cuisines</a>
  </div>
</header>
